:root {
    --bg-color: rgb(237,239,244);
    --main-color: rgb(5,57,149);
    --second-color: rgb(255,198,198);
    --text-color-blue: rgb(70,87,171);
    --text-color-red: rgb(255,84,84);
    --color-grey: rgb(208,208,208);
    --text-color-grey: rgb(170, 170, 170);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --main-shadow: 2px 1px 7px 3px rgba(201, 201, 201, 0.7);
}
.my-navbar{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
    padding: 0 7.8rem;
    justify-content: space-between;
    height: 60px;
    box-shadow: var(--main-shadow);
    z-index: 20;
}
.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo i {
    font-size: 3.5rem;
    color: var(--text-color-blue);
    font-weight: 300;
}
.logo span {
    z-index: 2;
    font-size: 1.5rem;
    color: var(--text-color-blue);
    font-weight: 600;
}
.list {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
}
.list li a {
    color: var(--text-color-grey);
}
.list li:hover a {
    color: var(--text-color-blue);
}
a.active {
    color: var(--text-color-blue) !important;
}

@media (max-width: 768px) {
    .my-navbar {
        padding: 0 1rem;
    }
    .logo span {
        font-size: 1.4rem;
    }
    .logo i {
        font-size: 3rem;
    }
    .list {
        position: fixed;
        top: 60px;
        width: 100%;
        left: 0;
        background-color: var(--white-color);
        margin: 0;
        padding: 10px 0;
        justify-content: space-evenly;
        box-shadow: 0 10px 10px rgba(201, 201, 201, 0.7);
    }
}