:root {
    --bg-color: rgb(237,239,244);
    --main-color: rgb(5,57,149);
    --second-color: rgb(255,198,198);
    --text-color-blue: rgb(70,87,171);
    --text-color-red: rgb(255,84,84);
    --color-grey: rgb(208,208,208);
    --text-color-grey: rgb(170, 170, 170);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --main-shadow: 2px 1px 7px 3px rgba(201, 201, 201, 0.7);
}
.news-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-flow: wrap;
    gap: 20px;
}
.news-row {
    width: 45%;
}
.new-name {
    color: var(--text-color-blue);
    font-size: 1.1rem;
}
@media (max-width: 768px) {
    .news-row {
        flex-direction: column;
        width: 100%;
    }
}